.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox--small .checkbox-custom {
    width: 10px;
    height: 10px;
}

.checkbox--small .checkbox-custom::after {
    font-size: 8px;
}

.checkbox--medium .checkbox-custom {
    width: 20px;
    height: 20px;
}

.checkbox--medium .checkbox-custom::after {
    font-size: 14px;
}

.checkbox--large .checkbox-custom {
    width: 30px;
    height: 30px;
}

.checkbox--large .checkbox-custom::after {
    font-size: 20px;
}

.checkbox--round .checkbox-custom {
    border-radius: 50%;
}

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 15%;
}

.checkbox input:checked ~ .checkbox-custom::after {
    content: '✔';
    color: #2196F3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox input:disabled ~ .checkbox-custom {
    background-color: #ccc;
    cursor: not-allowed;
}
