.button {
  font-family: 'Calibri', 'Comic Sans MS';
  font-weight: 700;
  border: 0;
  border-radius: 0.8em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button--primary {
  color: white;
  background-color: #1ea7fd;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 10px;
  padding: 6px 6px;
}
.button--medium {
  font-size: 14px;
  padding: 10px 10px;
}
.button--large {
  font-size: 18px;
  padding: 14px 14px;
}
